<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Convidados</title>
</head>

<body>
    <main>
        <h1 id="convidado">Formulário Convidado</h1>
        <form action="salvar-convidado" method="POST">
            <label for="nome">Nome Completo</label>
            <input type="text" name="nome" placeholder="Digite o seu nome aqui" required="required" />
            <br>
            <label for="rg">RG</label>
            <input type="text" name="rg" placeholder="Digite o seu RG aqui" required="required" />
            <br>
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" placeholder="Digite o seu CPF aqui" required="required" />
            <br>
            <label for="acompanhante">Quantos acompanhantes deseja levar?</label>
            <input type="text" name="acompanhante" placeholder="Digite o nº de acompanhantes aqui" required="required" />
             <br>
             <input type="submit" value="Enviar">
        </form>
     
    </main>
</body>

</html>